<header>
  <div class="container">
      <img src="/../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="nav-admin">
    <ul>
      <li><a class="active" href="/admin">Home</a></li>
      <li><a href="/admin/emails">Emails</a></li>
      <li><a href="/admin/testimonials">Testimonials</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
<main class="admin-home">
  <h1>FrankenKopter Admin Panel</h1>
  <h2>Welcome <%= @admin[:first_name].capitalize %>!</h2>
  <ul>
    <li>
      You have <%= @unread_emails %> unread
      <a href="/admin/emails"><%= @unread_emails != 1 ? 'emails' : 'email' %></a>
    </li>
    <li>
      You have <%= @unread_test %> unpublished
      <a href="/admin/testimonials"><%= @unread_test != 1 ? 'testimonials' : 'testimonial' %></a>
    </li>
    <li><a href="/admin/password_reset">Click here for password reset</a></li>
  </ul>
</main>
