<header>
  <div class="container">
      <img src="../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="nav-admin">
    <ul>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
<main class="testimonials">
  <% @testimonials.each do |testimonial| %>

        <%= testimonial[:first_name] %>

        <%= testimonial[:email] %>

        <%= testimonial[:submitted] %>


        <%= testimonial[:published] %>

        <%= testimonial[:body] %>

          <form action="testimonial/update/:id" method="post"> <!-- add in id -->
            <input type="submit" name="update" value="Update">
          </form>


          <form action="testimonial/pusblish/:id" method="post">
            <input type="submit" name="publish" value="Publish">
          </form>

          <form action="testimonial/delete/:id" method="post">
            <input type="submit" name="delete" value="Delete">
          </form>


  <% end %>
</main>
