<header>
  <div class="container">
      <img src="../../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="nav-admin">
    <ul>
      <li><a href="/admin">Home</a></li>
      <li><a class="active" href="/admin/emails">Emails</a></li>
      <li><a href="/admin/testimonials">Testimonials</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
<main class="emails">
  <h1>Emails</h1>
  <ul>
    <% @emails.each do |email| %>
      <li class="email">
        <dl>
          <dt>First Name</dt>
          <dd><%= email[:first_name].capitalize %></dd>
          </dl>
          <dl>
            <dt>Last Name</dt>
            <dd><%= email[:last_name].capitalize %></dd>
          </dl>
          <dl>
            <dt>Phone Number</dt>
            <dd>
              <%= email[:phone_number].length == 0 ? 'not provided' :
                                                     email[:phone_number] %>
            </dd>
          </dl>
          <dl>
            <dt>Email</dt>
            <dd><%= email[:email] %></dd>
          </dl>
          <dl>
            <dt>Viewed</dt>
            <dd class="viewed"><%= email[:viewed] %></dd>
          </dl>
          <dl>
            <dt>Sent</dt>
            <dd><%= email[:sent] %></dd>
          </dl>
          <button type="button" name="view">View Email</button>
        </li>
      <% end %>
  </ul>
</main>
