<h1>Send Us A Message</h1>
<form class="contact" action="/contact/new" method="post">
  <dl>
    <label>
      <dt>Tell Us Your Name <span>*</span></dt>
      <dd class="names">
        <input type="text" name="first_name" placeholder="First name"
               value="<%= session.delete(:first_name) %>">
      </dd>
      <dd class="names">
        <input type="text" name="last_name" placeholder="Last name"
               value="<%= session.delete(:last_name) %>">
      </dd>
      <dd class="invalid_first">Please provide a first name</dd>
      <dd class="session_invalid_first"><%= session.delete(:first_name_error) %></dd>
      <dd class="invalid_last">Please provide a last name</dd>
      <dd class="session_invalid_last"><%= session.delete(:last_name_error) %></dd>
    </label>
    <label>
      <dt>Enter Your Email <span>*</span></dt>
      <dd>
        <input type="email" name="email" placeholder="example@domain.com"
               value="<%= session.delete(:email) %>">
      </dd>
      <dd class="invalid_text">Please provide a valid email</dd>
      <dd class="session_invalid"><%= session.delete(:email_error) %></dd>
    </label>
    <label>
      <dt>Enter Your Phone Number</dt>
      <dd>
        <input type="tel" name="phone_number" placeholder="###-###-####"
               value="<%= session[:phone_number] %>">
      </dd>
      <dd class="invalid_text">Please Provide a valid phone number</dd>
      <dd class="session_invalid"><%= session.delete(:phone_number_error) %></dd>
    </label>
    <label>
      <dt>Message <span>*</span></dt>
      <dd>
        <textarea name="message" rows="8" cols="100"
                  placeholder="Write us a message"
                  value="<%= session.delete(:message) %>">
        </textarea>
      </dd>
      <dd class="invalid_text">Please provide a message</dd>
      <dd class="session_invalid"><%= session.delete(:message_error) %></dd>
    </label>
    <input type="submit" name="" value="Submit">
    <p>Items marked with <span>*</span> are required</p>
  </dl>
</form>
